 <div class="d-flex justify-content-center">
   <p-table [value]="allBeds" [paginator]="true" [rows]="3" class="col-8 text-center " >
     <ng-template pTemplate="header">
       <tr >
         <th>Sl no</th>
         <th>Code</th>
         <th>Description</th>
         <th>Room</th>
         <th>Bed Type</th>
         <th>Actions</th>
       </tr>
     </ng-template>
     <ng-template pTemplate="body" let-beds let-i="rowIndex" >
       <tr>
         <td>{{i+1}}</td>
         <td>{{beds.code}}</td>
         <td>{{beds.descriptions}}</td>
         <td>{{beds.room}}</td>
         <td>{{beds.bedType}}</td>
         <td>
           <a [routerLink] = "['/delete-Bed',beds.id]"  pTooltip="Click to Delete"  tooltipPosition="bottom"  >
             <fa-icon [icon]="['fas','trash-restore-alt']"  size="lg"></fa-icon>
             <p-toast  position="center"></p-toast>
           </a></td>
       </tr>
     </ng-template>
   </p-table>
   <p-confirmDialog></p-confirmDialog>
 </div>
