<p-tabView *ngIf="chekingEnquiryDetails()">
    <p-table [value]="allAvailableRooms" [paginator]="true" [rows]="5" >
      <ng-template pTemplate="header">
        <tr >
          <th>Sl no</th>
          <th>Room Number</th>
          <th>Description</th>
          <th>Number Of Beds</th>
          <th>Room Type</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-room let-i="rowIndex" >
        <tr>
          <td>{{i+1}}</td>
          <td>{{room.roomNumber}}</td>
          <td>{{room.description}}</td>
          <td>{{room.bedsInRoom}}</td>
          <td>{{room.roomType}}</td>
          <td><p-button  label="Check Availability" (click)="check()" icon="pi pi-search"></p-button></td>
        </tr>
      </ng-template>
    </p-table>
</p-tabView>

