<div class="main">
  <div class="header">
    <p>Rooms </p>
  </div>
  <p-tabView>&nbsp;
    <p-button label = "Create Room " icon="pi pi-plus" (click) = "gotoCreateRoom()" class="ui-button-success">  </p-button> &nbsp;&nbsp;
  </p-tabView>
  <p-tabView>
    <p-table [value]="allRooms" [paginator]="true" [rows]="3" >
      <ng-template pTemplate="header">
        <tr >
          <th>Sl no</th>
          <th>Room #</th>
          <th>Description</th>
          <th># Of Beds</th>
          <th>Room Type</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-room let-i="rowIndex" >
        <tr>
          <td>{{i+1}}</td>
          <td>{{room.roomNumber}}</td>
          <td>{{room.description}}</td>
          <td>{{room.bedsInRoom}}</td>
          <td>{{room.roomType}}</td>
          <td><a  [routerLink] = "['/Update-Room/',room.id]"  pTooltip="Click to Edit" tooltipPosition="bottom" >
            <fa-icon [icon]="['fas','edit']"  size="lg"></fa-icon>
          </a>&nbsp;&nbsp;
            <a [routerLink] = "['/delete-Room',room.id]"  pTooltip="Click to Delete"  tooltipPosition="bottom"  >
              <fa-icon [icon]="['fas','trash-restore-alt']"  size="lg"></fa-icon>
              <p-toast  position="center"></p-toast>
            </a></td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabView>
  <p-confirmDialog></p-confirmDialog>
</div>

