<div class="container-fluid">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 ">
        <div class="col-lg-12 card px-0">
          <div class="card-header">
            <h4>Create Room</h4>
          </div>
          <div class="card-body">
            <form class="form-horizontal" [formGroup]="createRoomForm">
              <input type="hidden" formControlName="id">
              <div class="row col-12">
                <label for="roomNo" class="col-3"><b>Room Number</b></label> <br>
                <input id="roomNo" pInputText class="form-control col-6" type="text" formControlName="roomNumber"
                       required><br><br>
              </div>
              <div class="row col-12">
                <label for="description" class="col-3"><b>Description</b></label> <br>
                <input id="description" pInputText class="form-control col-6" type="text" formControlName="description"
                       required><br><br>
              </div>

              <div class="row col-12">
                <label for="roomType" class="col-3"><b>Room Type</b></label> <br>
                <select id="roomType" formControlName="roomType" class="form-control col-6">
                  <option [ngValue]="null" disabled>Select any type</option>
                  <option *ngFor="let roomType of allRoomTypes" [ngValue]="roomType.code">
                    {{ roomType.code }}
                  </option>
                </select>
              </div>
              <br>

              <div class="row col-12">
                <label for="area" class="col-3"><b>Area</b></label> <br>
                <input id="area" pInputText class="form-control col-6" type="number" formControlName="area" required><br><br>
              </div>
              <input type="hidden" formControlName="bedsList">

            </form>
          </div>
        </div>
        <hr>
        <div class="col-lg-12 card px-0">
          <div class="card-header">
            <h4>Beds In Room</h4>
          </div>

        <div class="col-lg-12 card-body">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-lg-4 pl-0 pr-1"><label class="form-control col-lg-12"><b>Code</b></label></div>
              <div class="col-lg-4 pl-0 pr-1"> <label class="form-control col-lg-12"><b>Description</b></label></div>
              <div class="col-lg-4 pl-0 pr-1"><label class="form-control col-lg-12"><b>BedType</b></label></div>
            </div>
            <div formArrayName="beds"
                 *ngFor="let bed of form.controls['beds'].controls; let i = index" class="pb-1">
              <div [formGroupName]="i">

                <div class="row">
                  <div class="col-lg-4 pl-0 pr-1"> <input formControlName='code' class="form-control col-lg-12 mr-1" ></div>
                  <div class="col-lg-4 pl-0 pr-1"> <input formControlName='descriptions' class="form-control col-lg-12 mr-1"></div>
                  <div class="col-lg-4 pl-0 pr-1">
                    <select   formControlName="bedType" class="form-control col-lg-12 mr-1">
                    <option [ngValue]="null" disabled>Select any type</option>
                    <option *ngFor="let bedType of listOfBedTypes" [ngValue]="bedType.code">
                      {{ bedType.code }}
                    </option>
                  </select>
                  </div>
                </div>
              </div>
            </div >
            <p-button label="Add One More" (click)="addNext()"></p-button> &nbsp;
            <div class = "text-center">
              <p-toast position="center"></p-toast>
              <p-button label="Save" (click)="createRoom()"></p-button> &nbsp;&nbsp;&nbsp;
              <p-button label="Reset" (click)="reset()"></p-button>
            </div>
          </form>
        </div>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>

</div>





