<div class="container col-lg-6">
  <div class="card">
    <div class="card-header"><b>Enquiry Form</b></div>
    <div class="card-body">
      <div>
        <form [formGroup]="createReserveForm"  class="form-horizontal">
          <input type="hidden" formControlName="id">
          <div class="row col-12">
            <label for="roomNumber" class="col-4"><b>Room Number</b></label> <br>
            <input id="roomNumber" pInputText class="form-control col-6" type="text" formControlName="roomNumber" required><br><br>
          </div>
          <div class="row col-12">
            <label for="fName" class="col-4"><b>First Name</b></label> <br>
            <input id="fName" pInputText class="form-control col-6" type="text" formControlName="firstName" required><br><br>
          </div>
          <div class="row col-12">
            <label for="lName" class="col-4"><b>Last Name</b></label> <br>
            <input id="lName" pInputText class="form-control col-6" type="text" formControlName="lastName" required><br><br>
          </div>
          <div class="row col-12">
            <label for="emailId" class="col-4"><b>Email Id</b></label> <br>
            <input id="emailId" pInputText class="form-control col-6" type="text" formControlName="emailId" required><br><br>
          </div>
          <div class="row col-12">
            <label for="phoneNumber" class="col-4"><b>Phone Number</b></label> <br>
            <input id="phoneNumber" pInputText class="form-control col-6" type="text" formControlName="phoneNumber" required><br><br>
          </div>
          <div class="row col-12">
            <label for="fromDate" class= "col-4" ><b>From Date</b></label>
            <p-calendar class="col-6 p-1 m-0" id="fromDate" formControlName="fromDate"   dateFormat="dd.mm.yy" [showIcon]="true"  > </p-calendar>
          </div>
          <div class="row col-12">
            <label for="toDate" class= "col-4"><b>To Date</b></label> <br>
            <p-calendar class="col-6 p-1 " id="toDate" formControlName="toDate" dateFormat="dd.mm.yy" [showIcon]="true"></p-calendar><br>
          </div>
          <div class="text-center">
            <p-toast  position="center"></p-toast>
            <p-button label = "Reserve" (click)="getData()"  class="ui-button-success"></p-button> &nbsp;&nbsp;&nbsp;
            <p-button label = "Reset"    >  </p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

