<div class="main">
  <div class="header">
    <p>Bed Type</p>
  </div>

  <p-tabView>

    <p-button label = "Create Bed Type" icon="pi pi-plus" (click)="createBedType()" class="ui-button-success" >
    </p-button> &nbsp;&nbsp;
  </p-tabView>
  <p-tabView>
    <p-table [value]="allBedTypes" [paginator]="true" [rows]="4" class="text-center">
      <ng-template pTemplate="header">
        <tr >
          <th>Sl no</th>
          <th>Code</th>
          <th>Description</th>
          <th>Number Of Persons</th>
          <th>Location</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bedType let-i="rowIndex" >
        <tr>
          <td>{{i+1}}</td>
          <td>{{bedType.code}}</td>
          <td>{{bedType.description}}</td>
          <td>{{bedType.numOfPersons}}</td>
          <td>{{bedType.location}}</td>
          <td><a  [routerLink] = "['/Update-BedType/',bedType.id]"  pTooltip="Click to Edit" tooltipPosition="bottom" >
            <fa-icon [icon]="['fas','edit']"  size="lg"></fa-icon>
          </a>&nbsp;&nbsp;
            <a [routerLink] = "['/delete-BedType',bedType.id]"  pTooltip="Click to Delete"  tooltipPosition="bottom"  >
              <fa-icon [icon]="['fas','trash-restore-alt']"  size="lg"></fa-icon>  <p-toast  position="center"></p-toast>
            </a></td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabView>
  <p-confirmDialog></p-confirmDialog>
</div>
