<div class="main">
  <div class="header">
    <p><b>Create Room Type</b></p>
  </div><br><br>
  <div>
    <form [formGroup]="createRoomTypeForm"  class="form-horizontal">
      <input type = "hidden" formControlName="id"/>
      <div class="row col-12">
        <label for="code" class= "col-3" ><b>Code</b></label> <br>
        <input id = "code" pInputText  class="form-control col-6" type="text" placeholder="Enter code" formControlName="code" required><br><br>
      </div>
      <div class="row col-12">
        <label for="description" class= "col-3" ><b>Description</b></label> <br>
        <input id = "description" pInputText  class="form-control col-6" type="text" placeholder="Enter some description" formControlName="description" required><br><br>
      </div>
      <div class="row col-12" >
        <label for="bathRoom" class= "col-3"><b>Bathroom</b></label> <br>
        <select id = "bathRoom" formControlName="bathroom" class="form-control col-6">
          <option [ngValue]="null" disabled>Choose any type</option>
          <option>Shared</option>
          <option>Private</option>
        </select>
      </div><br>
      <div class="row col-12">
        <label for="numOfGuests" class= "col-3"><b>#of Guests</b></label> <br>
        <input id = "numOfGuests" pInputText class="form-control col-6" type="number" placeholder="Enter number Of Guests" formControlName="numOfGuests" required><br><br>
      </div>
      <div class="row col-12">
        <label for="price" class= "col-3"><b>Default Price</b></label> <br>
        <input id = "price" pInputText class="form-control col-6" type="number" placeholder="Enter default price" formControlName="defaultPrice"  required><br><br>
      </div>
      <div class="text-center">
        <p-toast  position="center"></p-toast>
        <p-button label = "Save" (click) = "createRoomType()" class="ui-button-success">  </p-button> &nbsp;&nbsp;&nbsp;
        <p-button label = "Reset"  (click) = "reset()">  </p-button>
      </div>
    </form>
  </div>
</div>
