<!--The content below is only a placeholder and can be replaced.-->

    <div class="nav-bar">
      <div class="logo">
        <img src="../assets/hostel1.png" alt="hostel icon">
      </div>
      <div class="home"><a href="#"><b>HOME</b></a></div>

      <div class="roomConfig">
        <button class="dropbtn"><b>ROOM CONFIGURATION</b>&nbsp;
          <fa-icon [icon]="['fas','caret-down']"  size="lg"></fa-icon>
        </button>
        <div class="dropdown-content">
          <a [routerLink]="['room-type-list']">Room Types</a>
          <a [routerLink]="['rooms-list']">Rooms</a>
          <a [routerLink]="['bed-type-list']">Bed Types</a>
          <a [routerLink]="['beds']">Beds</a>
        </div>
      </div>
      <div class="financeControl">
        <button class="dropbtn"><b>FINANCE CONTROL</b>&nbsp;
          <fa-icon [icon]="['fas','caret-down']"  size="lg"></fa-icon>
        </button>
        <div class="dropdown-content">
          <a href="#">Income Categories</a>
          <a href="#">Expense Categories</a>
          <a href="#">Dashboard</a>
        </div>

      </div>
      <div class="booking">
        <button class="dropbtn"><b>BOOKINGS</b>&nbsp;
          <fa-icon [icon]="['fas','caret-down']"  size="lg"></fa-icon>
        </button>
        <div class="dropdown-content">
          <a [routerLink]="['enquiry']">Enquiry</a>
          <a  [routerLink]="['reserve']">Reserve</a>
          <a href="#">Check-in</a>
        </div>
      </div>

      <div class="invoicing">
        <button class="dropbtn"><b>INVOICING</b>&nbsp;
          <fa-icon [icon]="['fas','caret-down']"  size="lg"></fa-icon>
        </button>
        <div class="dropdown-content">
          <a href="#">Checkout</a>
          <a href="#">Invoices</a>
          <a href="#">Tax Configuration</a>
        </div>
      </div>
    </div>


<router-outlet></router-outlet>
