.nav-bar{
background-color: aliceblue;
  text-align: left;
  padding: 25px;
  display: flex;
}
.logo{
  background-color: aliceblue;
  padding: 20px;
  width: 400px;
}
 .home {
   margin-right: 40px;

 }
.roomConfig, .invoicing, .financeControl, .booking{
  margin-right: 20px;
  float: left;
  overflow: hidden;

}



.roomConfig .dropbtn, .financeControl .dropbtn, .booking .dropbtn, .invoicing .dropbtn{
  font-size: 12px;
  border: none;
  outline: none;
  color: indigo;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;

}

.nav-bar a:hover, .roomConfig:hover .dropbtn, .financeControl:hover .dropbtn, .booking:hover .dropbtn, .invoicing:hover .dropbtn{
  background-color: aliceblue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, .home a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: blue;
  color: white;
}

.roomConfig:hover .dropdown-content, .financeControl:hover .dropdown-content, .booking:hover .dropdown-content, .invoicing:hover .dropdown-content {
  display: block;
}
.slick-slider {
  width: 75%;
  height: 40%;
  margin:  auto;
}
img{
  width: 300px;
  height: 70px;
  margin: 0px auto;
}
.logo{
  margin-top: 0px;
}
button:hover{
  color: chartreuse;
}
