<div class="main">
  <div class="header">
    <p><b>Create Bed Type</b></p>
  </div><br><br>
  <div>
    <form [formGroup]="createBedTypeForm"  class="form-horizontal">
      <input type = "hidden" formControlName="id"/>
      <div class="row col-12">
        <label for="code" class= "col-3" ><b>Code</b></label> <br>
        <input id = "code" pInputText  class="form-control col-6" type="text" placeholder="Enter code" formControlName="code" required><br><br>
      </div>
      <div class="row col-12">
        <label for="description" class= "col-3" ><b>Description</b></label> <br>
        <input id = "description" pInputText  class="form-control col-6" type="text" placeholder="Enter some description" formControlName="description" required><br><br>
      </div>
      <div class="row col-12" >
        <label for="numOfPersons" class= "col-3" ><b>#Of Persons</b></label> <br>
        <input id = "numOfPersons" pInputText  class="form-control col-6" type="number"   placeholder="Enter number of persons" formControlName="numOfPersons" required><br><br>
      </div><br>
      <div class="row col-12">
        <label for="location" class= "col-3"><b>Location</b></label> <br>
        <input id = "location" pInputText class="form-control col-6" type="text" placeholder="Enter the location" formControlName="location" required><br><br>
      </div>
      <div class="text-center">
        <p-toast  position="center"></p-toast>
        <p-button label = "Save" (click)="createBedType()" class="ui-button-success">  </p-button> &nbsp;&nbsp;&nbsp;
        <p-button label = "Reset"  (click)="reset()"  >  </p-button>
      </div>
    </form>
  </div>
</div>

