<p-tabView>
    <div class="container col-lg-6">
      <div class="card">
        <div class="card-header"><b>Enquiry Form</b></div>
        <div class="card-body">
          <div>
            <form [formGroup]="createEnquiryForm"  class="form-horizontal">
              <div class="row col-12">
                <label for="roomType" class="col-3"><b>Room Type</b></label> <br>
                &nbsp;<select id="roomType" formControlName="roomType" class="form-control col-7"  >
                <option [ngValue]="null" disabled>Select any type</option>
                <option  *ngFor="let roomType of allRoomTypes" [ngValue]="roomType.code" >
                  {{ roomType.description }}
                </option>
              </select>
              </div>
              <div class="row col-12">
                <label for="fromDate" class= "col-3" ><b>From Date</b></label>
                <p-calendar class="col-6 p-1 m-0" id="fromDate" formControlName="fromDate" dateFormat="dd.mm.yy" [showIcon]="true"></p-calendar>
              </div>
              <div class="row col-12">
                <label for="toDate" class= "col-3"><b>To Date</b></label> <br>
                <p-calendar class="col-6 p-1 " id="toDate" formControlName="toDate" dateFormat="dd.mm.yy" [showIcon]="true"></p-calendar><br>
              </div>
              <div class="row col-12">
                <label for="NumOfPersons" class= "col-3"><b>#Of Persons</b></label> <br>
                &nbsp; <input id = "NumOfPersons" pInputText class="form-control col-4" type="number" formControlName="numOfPersons" placeholder="Enter number of persons"    required><br><br>
              </div>
              <div class="text-center">
                <p-toast  position="center"></p-toast>
                <p-button label = "Enquiry" (click)="roomTypeEnquiry()" class="ui-button-success">  </p-button> &nbsp;&nbsp;&nbsp;
                <p-button label = "Reset" (click)="reset()"  >  </p-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  <p-table [value]="roomTypeDetailsOnSearch" [paginator]="true" [rows]="4" >
    <ng-template pTemplate="header">
      <tr >
        <th>Sl no</th>
        <th>Code</th>
        <th>Description</th>
        <th>Max Occupancy</th>
        <th>Default Price</th>
        <th>Bathroom Type</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-roomtype let-i="rowIndex" >
      <tr>
        <td>{{i+1}}</td>
        <td>{{roomtype.code}}</td>
        <td>{{roomtype.description}}</td>
        <td>{{roomtype.numOfGuests}}</td>
        <td>{{roomtype.defaultPrice | currency:"INR"}}</td>
        <td>{{roomtype.bathroom}}</td>
        <td><p-button  label="Search For Rooms"  icon="pi pi-search" (click)="navigateToCheckingAvilabilitypage(roomtype.code)" >
        </p-button>
      </tr>
    </ng-template>
  </p-table>
</p-tabView>

<app-check-room-availability [enquiry]="enquiryFormBinding"></app-check-room-availability>



