<div class="main">
  <div class="header">
    <p>Room Type</p>
  </div>
  <p-tabView>

    <p-button label = "Create Room Type" icon="pi pi-plus" (click) = "gotoCreateRoomType()" class="ui-button-success" >
    </p-button> &nbsp;&nbsp;
  </p-tabView>
  <p-tabView>
      <p-table [value]="allRoomTypes" [paginator]="true" [rows]="4" >
        <ng-template pTemplate="header">
          <tr >
            <th>Sl no</th>
            <th>Code</th>
            <th>Description</th>
            <th>Max Occupancy</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-roomtype let-i="rowIndex" >
          <tr>
            <td>{{i+1}}</td>
            <td>{{roomtype.code}}</td>
            <td>{{roomtype.description}}</td>
            <td>{{roomtype.numOfGuests}}</td>
            <td><a  [routerLink] = "['/Update-RoomType/',roomtype.id]"  pTooltip="Click to Edit" tooltipPosition="bottom" >
              <fa-icon [icon]="['fas','edit']"  size="lg"></fa-icon>
            </a>&nbsp;&nbsp;
              <a [routerLink] = "['/delete-RoomType',roomtype.id]"  pTooltip="Click to Delete"  tooltipPosition="bottom"  >
                <fa-icon [icon]="['fas','trash-restore-alt']"  size="lg"></fa-icon>  <p-toast  position="center"></p-toast>
              </a></td>
          </tr>
        </ng-template>
      </p-table>
  </p-tabView>
  <p-confirmDialog></p-confirmDialog>
</div>
